<!DOCTYPE html>
<html>
    <!--
       ____   _
      / __ \ (_) __ _ _ ____  ____ _
     / / _` || |/ _` | '__\ \/ / _` |
    | | (_| || | (_| | |   >  < (_| |
     \ \__,_|/ |\__,_|_|  /_/\_\__, |
      \____/__/                |___/
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    CC BY-NA-SA 4.0
    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    'In the plagiaristic environment of the Net, where anyone can clone any web
    site, the artist's URL is the only guarantor that one is viewing the
    "original", most up-to-date and uncompromised version of the work.'
    ––Greene, R. (2004). Internet art. New York, NY: Thames & Hudson.
    -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ base.url }}/css/default.css">
        <link rel="shortcut icon" type="image/ico" href="{{ base.url }}/favicon.ico">
        <link rel="shortcut icon" type="image/jpg" href="{{ base.url }}/assets/@jarxg.png">
        <link rel="apple-touch-icon-precomposed" href="{{ base.url }}/assets/@jarxg.png">
        <script src="https://use.fontawesome.com/5c65c7cca4.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="screen">

                <h1>{{ page.title }}</h1>

                {{content}}

                <hr>

                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>

            </div>
        </div>
    </body>
</html>